*
{
    font-family: sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

div.row
{
	display: flex;
	flex-direction: row;
}
div.column
{
	display: flex;
	flex-direction: column;
}
div.flow
{
	display: flex;
	flex-direction: flow;
}
div.headerMain
{
    padding: 1em;
    font-size: 32;
}
div.header
{
    padding: 1em;
}
div.footer
{
    padding: 1em;
    font-size: 14;
	text-align: center;
}
div.contentMain
{
	display: flex;
	flex-direction: row;
    padding: 2em;
	background-image: url(images/index.png);
	background-size: cover;
}
div.content
{
	display: flex;
	flex-direction: column;
    padding: 2em;
	background-color: rgb(114, 139, 149);
}
div.overlay
{
    padding: 1em;
	background-color: rgb(0, 0, 0, .25);
}

div.textLarge
{
    font-size: 24;
	color: rgb(255, 255, 255);
}
div.textMedium
{
    font-size: 16;
	color: rgb(255, 255, 255);
}
div.textSmall
{
    font-size: 14;
	color: rgb(255, 255, 255);
}

a.text
{
	color: rgb(255, 255, 255);
	font-weight: bold;
}
a.button
{
    padding: .3em;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
    font-size: 20;
	text-decoration: none;
}
a.imageButton
{
    padding: .4em;
	align-self: center;
}
