*
{
    font-family: sans-serif;
}

a:link
{
    color: #ffffff;
    text-decoration: none;
}

a:visited
{
    color: #ffffff;
    text-decoration: none;
}

body
{
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-image: url("images/Berkeley 2010-12-19 Tinted.jpg");
    background-color: #000000;
}

div.header
{
    background-color: #000000aa;
    padding: 20;
    width: 100%;
}

a.header
{
    font-size: 64;
    font-weight: lighter;
}

div.content
{
}

div.block
{
    margin: 40;
}

a.button
{
    padding: 10;
    font-size: 24;
}

img.button
{
    vertical-align: middle;
    margin: 0 10 0 0;
}

div.footer
{
}

h1
{
    font-weight: lighter;
}

h2
{
    font-weight: normal;
}

h3
{
    font-weight: normal;
}

pre
{
    font-family: monospace;
}

th
{
    text-align: left;
}

td
{
    vertical-align: top;
    padding: 0 10 0 0;
}

