*
{
    font-family: sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

div.row
{
	display: flex;
	flex-direction: row;
}
div.column
{
	display: flex;
	flex-direction: column;
}
div.flow
{
	display: flex;
	flex-direction: flow;
}
div.headerMain
{
    padding: 1em;
    font-size: 32;
}
div.header
{
    padding: 1em;
}
div.footer
{
    padding: 1em;
    font-size: 14;
	text-align: center;
}
div.contentMain
{
	display: flex;
	flex-direction: row;
    padding: 2em;
	background-image: url(images/index.png);
	background-size: cover;
}
div.content
{
	display: flex;
	flex-direction: column;
    padding: 2em;
	background-color: rgb(15, 32, 42);
}

div.textLarge
{
    font-size: 24;
	color: rgb(255, 255, 255);
}
div.textMedium
{
    font-size: 16;
	color: rgb(255, 255, 255);
}
div.textSmall
{
    font-size: 14;
	color: rgb(200, 200, 200);
}

a.text
{
	color: rgb(255, 255, 255);
}
a.button
{
    padding: .3em;
	color: rgb(255, 255, 255);
	background-color: rgb(60, 60, 60);
    font-size: 18;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(80, 80, 80);
}
a.imageButton
{
    padding: .4em;
	align-self: center;
}

pre
{
	padding: 1em;
    font-size: 14;
	color: rgb(210, 200, 200);
	background-color: rgb(40, 50, 60);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(60, 60, 60);
}
